@import "./colors";

#fed-page {
  .latge-title {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: x-large;
    font-weight: 500;
  }

  .container {
    margin:2% 10% 2% 10%; 
    background: $container-background;
    padding: 2.5%;
    
  }

  .results-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    span {

      &:first-child {
        padding: 20px 20px 10px 0px;
        font-weight: 700;
        color: $red;
      }

      &:last-child {
        padding: 10px 20px 20px 0px;
      }
    }
  }
}
