@import "./colors";

.header {
  position: relative;
  display: flex;
  background: $container-background;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  .header-cell {
    border-bottom: 2px solid $dark-border;
    text-transform: capitalize;
    font-weight: 600;

    &:first-child {
      border-top-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
    }

    &:not(:first-child):before {
      content: "";
      background: $border-grey;
      position: absolute;
      bottom: 15%;
      height: 70%;
      width: 1px;
      margin-left: -10px;
    }
  }
}
