@import "./colors";

.footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  border-top: 2px solid $dark-border;
  background: $container-background;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
