@import "./colors";

.table-container {
  width: 70%;
  border: 1px solid $border-grey;
  border-radius: 5px;
  margin: 0;

  .cell {
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    background: $table-body;

    &:first-child {
      flex: 1;
    }
    &:nth-child(2) {
      flex: 1;
    }
    &:nth-child(3) {
      flex: 4;
    }
    &:last-child {
      flex: 2;
    }
  }
}
