@import "./styles/colors.scss";

@import "./styles/table-header.scss";
@import "./styles/table-footer.scss";
@import "./styles/table-row.scss";
@import "./styles/table.scss";

@import "./styles/fed-page.scss";

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: $text-primary;
}
